<footer class="rodape">
    <div class="conteudo">

        <div class="link">
            <ul>
                <h2>Inicio</h2>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/produtos">Produtos</a></li>
                <li><a routerLink="/sobre">Sobre</a></li>
            </ul>
        </div>
        <div class="redes">
            <!--

                <a href=""><img src="assets/LogoInstagram.png" alt=""></a>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
            -->
            <p>Endereço: Rua São Luiz, Nº 5512, Picos-PI</p>
            <p>Cnpj: 000.000/0001-45</p>
            <p>Fone:(00) 9 9999-9999</p>
            
        </div>
    </div>
    <div class="autor">
        <p>Todos os direitos reservados a &copy;Silvestre Araújo</p>
    </div>

</footer>
