<div class="conteudo">
    <main class="sobre">
        <section class="i-empresa">
            <h1>Quem Somos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                 debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                  nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                  debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                   nostrum numquam a magni velit debitis dolorum.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                 debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                  nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                  debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                   nostrum numquam a magni velit debitis dolorum.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                 debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                  nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                  debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                   nostrum numquam a magni velit debitis dolorum.
            </p>

        </section>
        <section class="missao">
            <h2>Missão</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                 debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                  nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                  debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                   nostrum numquam a magni velit debitis dolorum.
            </p>
            <h2>Visão</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                 debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                  nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                  debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                   nostrum numquam a magni velit debitis dolorum.
            </p>
            <h2>Valor</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                 nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                 debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                  nostrum numquam a magni velit debitis dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat harum fugit 
                  debitis eveniet totam aut, ipsum beatae. Architecto asperiores unde eos nisi eligendi,
                   nostrum numquam a magni velit debitis dolorum.
            </p>

        </section>
    </main>
</div>

<app-footer></app-footer>
